name: CI

on: push

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v1

      - name: Install dependencies
        run: |
          pip3 install -U clion-live-templates-generator
          pip3 install -U online-judge-verify-helper
      - name: Create Live-templates file
        run: lt-generate -d lib

      - name: Upload Live-templates file
        uses: actions/upload-artifact@master
        with:
          name: C_C__.xml
          path: C_C__.xml
        if: always()

      - name: Run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          YUKICODER_TOKEN: ${{ secrets.YUKICODER_TOKEN }}
          GH_PAT: ${{ secrets.GH_PAT }}
          DROPBOX_TOKEN: ${{ secrets.DROPBOX_TOKEN }}
        run: oj-verify all
